01 Getting & Knowing Data

In [ ]:
import pandas as pd

> 롤 랭킹 데이터 : https://www.kaggle.com/datasnaek/league-of-legends

> DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

Question 1

데이터를 로드하라. 데이터는 \t을 기준으로 구분되어있다.

In [6]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl, sep = "\t")

print(df)

           gameId   creationTime  gameDuration  seasonId  winner  firstBlood
0      3326086514  1504279457970          1949         9       1           2  \
1      3229566029  1497848803862          1851         9       1           1
2      3327363504  1504360103310          1493         9       1           2
3      3326856598  1504348503996          1758         9       1           1
4      3330080762  1504554410899          2094         9       1           2
...           ...            ...           ...       ...     ...         ...
51485  3308904636  1503076540231          1944         9       2           1
51486  3215685759  1496957179355          3304         9       2           1
51487  3322765040  1504029863961          2156         9       2           2
51488  3256675373  1499562036246          1475         9       2           2
51489  3317333020  1503612754059          1445         9       1           1

       firstTower  firstInhibitor  firstBaron  firstDragon  ...
0               1               1           1            1  ...  \
1               1               1           0            1  ...
2               1               1           1            2  ...
3               1               1           1            1  ...
4               1               1           1            1  ...
...           ...             ...         ...          ...  ...
51485           2               2           0            2  ...
51486           1               2           2            2  ...
51487           2               2           0            1  ...
51488           2               2           0            2  ...
51489           1               1           1            2  ...

       t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills
0                  5                  0              0               1  \
1                  2                  0              0               0
2                  2                  0              0               1
3                  0                  0              0               0
4                  3                  0              0               1
...              ...                ...            ...             ...
51485             10                  2              0               4
51486             11                  7              4               4
51487             10                  2              0               2
51488             11                  3              0               1
51489              1                  0              0               1

       t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0                       1      114       67       43       16       51
1                       0       11       67      238       51      420
2                       0      157      238      121       57       28
3                       0      164       18      141       40       51
4                       0       86       11      201      122       18
...                   ...      ...      ...      ...      ...      ...
51485                   0       55       -1       90      238      157
51486                   1      157       55      119      154      105
51487                   0      113      122       53       11      157
51488                   0      154       39       51       90      114
51489                   0       11      157      141       31       18

[51490 rows x 61 columns]

Question 2

데이터의 상위 5개 행을 출력하라

In [ ]:
df.head()

Question 3

데이터의 행과 열의 갯수를 파악하라

In [ ]:
print(len(df.index))
print(len(df.columns))

Question 4

전체 컬럼을 출력하라

In [ ]:
print(df.columns)

Question 5

6번째 컬럼명을 출력하라

In [ ]:
print(df.columns[5])

Question 6

6번째 컬럼의 데이터 타입을 확인하라

In [ ]:
df.info(verbose=True)

Question 7

데이터셋의 인덱스 구성은 어떤가

In [ ]:
print(df.index)

Question 8

6번째 컬럼의 3번째 값은 무엇인가?

In [ ]:
print(df[df.columns[5]][2])

> 제주 날씨,인구에 따른 교통량데이터 : 출처 제주 데이터 허브 

> DataUrl = https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv’

Question 9

데이터를 로드하라. 컬럼이 한글이기에 적절한 처리해줘야함

In [7]:
import pandas as pd

DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding = "cp949")

df

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

Question 10

데이터 마지막 3개행을 출력하라

In [5]:
print(df.tail(3))

         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697  \
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8

Question 11

수치형 변수를 가진 컬럼을 출력하라

Question 12

범주형 변수를 가진 컬럼을 출력하라

Question 13

각 컬럼의 결측치 숫자를 파악하라

Question 14

각 컬럼의 데이터수, 데이터타입을 한번에 확인하라

Question 15

각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라

Question 16

거주인구 컬럼의 값들을 출력하라

Question 17

평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라

Question 18

읍면동명 컬럼의 유일값 갯수를 출력하라

Question 19

읍면동명 컬럼의 유일값을 모두 출력하라